In [42]:
class dbconn:
    def __init__(self):
        self.con = mysql.connector.connect(host = "localhost",
                                    port = '3306',
                                    user = 'root',
                                    password = 'Root@123')

        cur = self.con.cursor()
        print("Sql Crud operation")
        print("What Do You Want to Perform")
        print("1.Create a Database")
        print("2.Show Databases")
        print("3.Create a table")
        print("4.Want to Insert some data in table ")
        print("5.Want to update the table")
        print("6.Or you Just Wish to Drop a table ")
        choice = int(input("Enter Your Choice"))
        if choice == 1:
            cur.execute(str(input()))
            print("Database Created")
            cur.execute("use " + str(input()))
            print("using {0}".format(cur))
            
        elif choice == 2:
            cur.execute(str(input()))
            print("These are some avaible Databases")
            for x in cur:
                print(x)
        elif choice == 3:
            cur.execute(str(input()))
            cur.execute(str(input()))
            print("Table created")
        elif choice == 4:
            cur.execute(str(input()))
            print("Data Inserted to a table")
            cur.execute(str(input()))
        elif choice == 5:
            cur.execute(str(input()))
            print("Data Updated")
        elif choice == 6:
            cur.execute(str(input()))
            print("Data Dropped")
        else:
            print("Exit")

obj = dbconn()

Sql Crud operation
What Do You Want to Perform
1.Create a Database
2.Show Databases
3.Create a table
4.Want to Insert some data in table
5.Want to update the table
6.Or you Just Wish to Drop a table
Enter Your Choice2
show databases
These are some avaible Databases
('emp',)
('emp2',)
('information_schema',)
('mysql',)
('new',)
('new1',)
('per',)
('performance_schema',)
('sys',)

In [6]:
# Python | Count occurrences of an element in a list

def elementcount(elem,x):
    count = 0 
    for i in elem:
        if i == x:
            count += 1
    return count

elem = [1,231,31,1,1,2]

elementcount(elem,1)


# 2nd way using a Counter:

3

In [12]:
import collections
from collections import Counter 


d = Counter(elem)

print("{} is occured {} times".format(1,d[1]))

1 is occured 3 times

In [19]:
# Remove empty tuples from a list :

def tuple(t):
    x2 = [x1 for x1 in t if x1]
    return x2


t = [(), ('ram','15','8'), (), ('laxman', 'sita'), 
                  ('krishna', 'akbar', '45'), ('',''),()]

print("Tuple None Clear Method 1 ",tuple(t))


# Now using filter Method 

def tuple(t):
    t = filter(None,t)
    for x in t:
        print(x)
    return x

print("Tuple None Clear Method 2",tuple(t))

Tuple None Clear Method 1  [('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]
('ram', '15', '8')
('laxman', 'sita')
('krishna', 'akbar', '45')
('', '')
Tuple None Clear Method 2 ('', '')

In [3]:
def summation(list):
    sum = 0
    for i in list:
        sum = sum + i
    return sum


summation([1,2,-8])

-5

In [12]:
# Python Programm to print Pattern 
n=8
for i in range(1,n):
    print("",end="")
    for j in range(0,i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [18]:
# Now try with different pattern:

n = int(input(""))
for i in range(0,n):
    print(" ",end="")
    for j in range(i+1,n):
        print("*",end=" ") 
    print()

10
 * * * * * * * * *
 * * * * * * * *
 * * * * * * *
 * * * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

In [31]:
n = int(input())
for i in range(1,n-1):
    print(" ",end="")
    for j in range(i+2,n):
        print("*",end=" ")
    for k in range(i,j):
        print("*",end=" ")
    print() 
    
for j in range(n,i):
    print(" ",end=" ")
    for l in range(j,n):
        print("*",end=" ")
    for o in range(k,n):
        print("*",end=" ")
    print()

10
 * * * * * * * * * * * * * * *
 * * * * * * * * * * * * *
 * * * * * * * * * * *
 * * * * * * * * *
 * * * * * * *
 * * * * *
 * * *
 *

In [39]:
n = int(input())
for i in range(1,n):
    print(" ",end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()
    
for i in range(0,n):
    print(" ",end="")
    for j in range(i+1,n):
        print("*",end=" ") 
    print()

10
  *
  * *
  * * *
  * * * *
  * * * * *
  * * * * * *
  * * * * * * *
  * * * * * * * *
  * * * * * * * * *
 * * * * * * * * *
 * * * * * * * *
 * * * * * * *
 * * * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

In [49]:
n = int(input())

k = 2*n-2

for i in range(0,n):
    for j in range(0,k):
        print(end=" ")
    k = k - 2
    for l in range(0,i+1):
        print("* ",end=" ")
    print("\r")

10
                  *
                *  *
              *  *  *
            *  *  *  *
          *  *  *  *  *
        *  *  *  *  *  *
      *  *  *  *  *  *  *
    *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *

In [57]:
n = int(input())
i = 1
while i <= n:
    j = 1 
    while j <= i:
        print("*",end=" ")
        j += 1
    print()
    i  += 1

10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [59]:
n = 5
i = 1 
while i <= n:
    j = 1 
    while j <= i:
        print("* ",end=" ")
        j += 1
    print()
    i +=1

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [63]:
i = 1
k = 1

while i <= 5:
    b = 1 
    while b < 5-i:
        print(" ",end=" ")
        b = b + 1
    j = 1 
    while j<= k:
        print("* ",end=" ")
        j = j+1
    
    print()
    k = k + 2
    
    i = i + 1

      *
    *  *  *
  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *